
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@* Layout=null отменить мастерстраницу*@

@using boockStore.Models
@model IEnumerable<Book>
@{
    ViewBag.Title = "Книжный Магазин";
}

<a href="/Home/Create">Добавить книгу</a> 
<div>
    <h3>Сегодня в продаже!</h3>
    <table>
        <tr>
            <td><p>Название Книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Цена</p></td>
            <td></td>

        </tr>
        @*        @foreach (var b in ViewBag.Books) {*@
        @foreach (Book b in Model)
        {

            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td>
                    <a href="/home/Buy/@b.Id">Купить</a>
                    <a href="/home/Delete/@b.Id">Удалить</a>
                    <a href="/home/Edit/@b.Id">Изменить</a>

                </td>

            </tr>
        }
    </table>

    @*@Html.Partial("~/Views/Home/_getList.cshtml")*@
    @*@{Html.RenderPartial("~/Views/Home/_getList.cshtml",new string[]{"USA","FR","DE"}); }*@
    @Html.Action("getList")


   

</div>
